[
    {devopsimus,[
        {base_url,"https://login.microsoftonline.com/480e459b-b60f-403a-ae50-f8fa653c3a81/saml2"},
        {issuer,"shp-dev"},
        {callback, "https://localhost:8443/login/saml"},
        {idp_arn, "arn:aws:iam::406661382769:saml-provider/AkoyaAD"},
        {role_arn, "arn:aws:iam::406661382769:role/AdminAkoyaAD"},
        {duration_seconds, 3600}
    ]}
].
